@font-face {
  font-family: "Recoleta";
  src:
    local("Recoleta-Regular"),
    local("Recoleta-RegularDEMO"),
    url("./assets/fonts/Recoleta-RegularDEMO.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
